body {
    background-color: #EEE;
}
#graph .choice {
    float: left;
    font-family: serif;
    font-size: 1.5em;
    min-width: 200px;
    text-align: left;
    margin: 20px 10px;
}
#graph .bar {
    width: 0;
    height: 35px;
    background-color: coral;
    margin: 5px;
    float: right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

#graph1 .choice {
    float: left;
    font-family: serif;
    font-size: 1.5em;
    min-width: 200px;
    text-align: left;
    margin: 20px 10px;
}
#graph1 .bar {
    width: 0;
    height: 35px;
    background-color: blue;
    margin: 5px;
    float: right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
